{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Sign Up</title>
</head>
<body>
{% for msg_type in form.error_messages %}
    <div class="alert">
		{% if msg_type == 'password_mismatch' %}
			<strong>Please Enter Same Passwords on the Password Fields below</strong>
		{% else %}
			<strong>msg_type</strong>
		{% endif %}	
	</div>
{% endfor %}	
	
	<div class="container">
		<h2 class="center">Create an account</h2>
		<form method='post' action= '{% url "sign up" %}'>
			{% csrf_token %}
			{{form.as_p}}
			<button class='btn waves-effect' type="submit">Register</button>
		</form>
	</div>
</body>
</html>
